{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Subir Productos{% endblock %}

{% block body %}




<div class="subirproductos container  h- 100 bg-white rounded col-4">
    <div class="example-wrapper  text-center">
        <h1>{{ controller_name }}</h1>
    </div>

    {% for message  in app.flashes('exito') %}
        <div class="alert alert-succes">
            {{message}}
        </div>
    {% endfor %} 
    <div class="text-right">
        {{form(formulario)}}
    </div>
    
</div>
{% endblock %}
